# Compiled files
/bootstrap/compiled.php

# Directoriess and IDE stuff
/vendor
/storage
/.vagrant
/.idea
/public/packages
/workbench
/html
/build

# sqlite DB files
/db/*.sqlite

# Composer Files
composer.phar
composer.lock

# Environment Files
.env.php
.env.*.php

# Silly OS type files
.DS_Store
Thumbs.db
.DS_Stores